@import "tailwindcss";

/* ============================= */
/*  FONTES SELF-HOSTED           */
/* ============================= */

/* Space Grotesk (variable font) */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk-variable.woff2') format("woff2");
  font-weight: 300 700; /* intervalo de pesos disponíveis */
  font-style: normal;
  font-display: swap;
}

/* Raleway (variable font) */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-variable.woff2') format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Mono */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibmplexmono-medium.woff2') format("woff2-variations");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Devicon */
@font-face {
  font-family: "devicon";
  src: url("https://cdn.jsdelivr.net/gh/devicons/devicon/fonts/devicon.ttf") format("truetype");
  font-display: swap; /* 👈 força o comportamento */
}


@theme {
  --breakpoint-uw: 121rem; 
  
  --font-raleway: 'Raleway', sans-serif;
  --font-ibm: 'IBM Plex Mono', monospace;
  --font-spacegrotesk: 'Space Grotesk', sans-serif;

  --color-primary: #125B9A;
  --azul: #009ccc;
  --color-secondary: #F05A7E;
  --color-accent: #0B8494;
  --color-highlight: #FFD166;

  --light-background: #F0F4F8;
  --light-text: #2E3A47;
  --light-details: #0B8494;

  --dark-background: #1A1E26;
  --dark-text: #E0E4E8;
  --dark-details: #0B8494;
}

[data-theme="light"] {
  --bg-color: var(--light-background);
  --text-color: var(--light-text);
}

[data-theme="dark"] {
  --bg-color: var(--dark-background);
  --text-color: var(--dark-text);
}

* {
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-spacegrotesk);
}

/* BARRA DE ROLAGEM */

/* Estilizar a barra de rolagem para navegadores com suporte a Webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background-secondary);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}


/* SOCIAL ICONS */

.social-icons-fill, .social-icons-stroke {
  color: #555555 !important;
  fill: "#555555";
}
.social-icons-fill:hover {
  fill: #17837D;
}
.social-icons-stroke:hover {
  stroke: #17837D;
}