@import "tailwindcss";

@theme {
  --font-menrope: 'Manrope', sans-serif;
  --font-fira: 'Fira Code', monospace;
  --font-raleway: 'Raleway', sans-serif;
  --font-ibm: 'IBM Plex Mono', monospace;
  --font-spacegrotesk: 'Space Grotesk', sans-serif;
  --font-vcr: 'VCR OSD Mono', monospace;

  --color-primary: #125B9A;
  --azul: #009ccc;
  --color-secondary: #F05A7E;
  --color-accent: #0B8494;
  --color-highlight: #FFD166;

  --light-background: #F0F4F8;
  --light-text: #2E3A47;
  --light-details: #0B8494;

  --dark-background: #1A1E26;
  --dark-text: #E0E4E8;
  --dark-details: #0B8494;
}

[data-theme="light"] {
  --bg-color: var(--light-background);
  --text-color: var(--light-text);
}

[data-theme="dark"] {
  --bg-color: var(--dark-background);
  --text-color: var(--dark-text);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
/* CURSOR */

/* body {
  cursor: none;
}

button, a, .clickable {
  cursor: pointer;
} */


/* BARRA DE ROLAGEM */

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Barra deslizante (thumb) */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 4px; 
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0; 
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 #ffffff;
}

