@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
  --breakpoint-uw: 121rem; 
  
  --font-raleway: 'Raleway', sans-serif;
  --font-ibm: 'IBM Plex Mono', monospace;
  --font-spacegrotesk: 'Space Grotesk', sans-serif;

  --font-fira: 'Fira Code', monospace;
  --font-vcr: 'VCR OSD Mono', monospace;

  --color-primary: #125B9A;
  --azul: #009ccc;
  --color-secondary: #F05A7E;
  --color-accent: #0B8494;
  --color-highlight: #FFD166;

  --light-background: #F0F4F8;
  --light-text: #2E3A47;
  --light-details: #0B8494;

  --dark-background: #1A1E26;
  --dark-text: #E0E4E8;
  --dark-details: #0B8494;
}

[data-theme="light"] {
  --bg-color: var(--light-background);
  --text-color: var(--light-text);
}

[data-theme="dark"] {
  --bg-color: var(--dark-background);
  --text-color: var(--dark-text);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
/* CURSOR */

/* body {
  cursor: none;
}

button, a, .clickable {
  cursor: pointer;
} */


/* BARRA DE ROLAGEM */

/* Estilizar a barra de rolagem para navegadores com suporte a Webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background-secondary);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}


/* SOCIAL ICONS */

.social-icons-fill, .social-icons-stroke {
  color: #555555 !important;
  fill: "#555555";
}
.social-icons-fill:hover {
  fill: lightseagreen;
}
.social-icons-stroke:hover {
  stroke: lightseagreen;
}
